<section class="upcoming-events">
    <h2>Upcoming Events</h2>
    <ul>
        <li>Event 1: Date and Time</li>
        <li>Event 2: Date and Time</li>
        <li>Event 3: Date and Time</li>
    </ul>
</section>
