---
import "../styles/global.css";

import Notification from "../components/shared/Notification.astro";
import TopNavbar from "../components/shared/TopNavbar.astro";
import Footer from "../components/shared/Footer.astro";

---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Nepal Tek Community - NTK</title>
	</head>
	<body class="bg-white text-gray-900">
		<!-- Notification Banner (optional message passed as prop) -->
		<Notification
			message="Nepal Tek Community is looking for enthusiastic folks for executive 2025/26. Apply now!"
		/>

		<!-- Top Navigation -->
		<TopNavbar />

		<!-- Page Content -->
		<main>
			<slot/>
		</main>

		<!-- Footer -->
		<Footer />
	</body>
</html>
